body {
    font-family: Arial, sans-serif;
}
.sub-container{
    display: flex;
}
.time-txt{
    margin-left: 8px;
  
}
.time-top-txt{
    font-weight: 400;
}
header>div{
    align-items: baseline;
}
.container{
    padding : 25px 10%;
}
#calender{
    margin-top: 14px;
    position: relative;
    overflow: hidden;
}
.duration{
    height: 59px;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.event-cont{
   font-size: 10px;
}

.time-chart{
    position: absolute;
    top: 0;
    left: 60px;
    width: 100%;
}

